<%= form_for @artist do |f| %>

<p>
<%f.label :name %><BR>
<%f.text_field :name %><BR>
</p>
<p>
  <%f.label :description %><BR>
  <%f.text_field :description %><BR>
</p>
<p>
  <%f.label :image_url %><BR>
  <%f.text_field :image_url %><BR>
</p>
      <P>
          <%= f.submit %>
      </P>
<% end %>
